<%= render 'public/public_header' %>

<div class= "container">
  <div class= "row">
    <div class= "mx-auto mt-5 mb-3 col-lg-12 d-flex justify-content-center">
      <div class="display-3">About</div>
    </div>
  </div>

  <div class= "row">
    <div class= "mx-auto mt-5 mb-5  col-lg-12 d-flex justify-content-center">
      <p class="text-center h5">ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お子様からお年寄りの方までお召し上がりいただけるよう、</br>
      様々なバリエーションをご用意しております。</br>
      また、全国に発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。</p>
    </div>
  </div>
</div>